{% extends "pages/base.html" %} {% load static %}
{% block title%}BiMeta AboutUs{% endblock %} {% block content %} 
{% include 'pages/header.html' %}
<div class="page-head" data-bg-image="{% static 'images/page-head-1.jpg' %}" id="aboutUs">
    <div class="container">
        <!-- <h2 class="page-title">About us</h2>
        <small>Let's take a review of our wonderful team members and our purpose! </small> -->
    </div>
</div>

<div class="fullwidth-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="section-title">Why choose us?</h2>
                <ol class="circle">
                    <li>
                        <h3>Bioinformatics</h3>
                        <p>Bioinformatics research is considered an area that includes large,  expanding,  and complexbiological data sets. The biological data is increasingly large, and often unlabeled, making it impossible to use supervised learning methods.</p>
                    </li>
                    <li>
                        <h3>Scalable clustering tool</h3>
                        <p>An alternativeapproach to the bioinformatics problem is to build a scalable clustering tool that can work with very large datasets based on BiMeta.</p>
                    </li>
                    <li>
                        <h3>Cusamus dignissimos ducimus</h3>
                        <p>Molestias excepturi sint occaecati cupiditate provident similique sunt culpa. omnis iste natus voluptatem.</p>
                    </li>
                </ol>
            </div>
            <div class="col-md-4">
                <h2 class="section-title">Usefull links</h2>
                <p>Nemo mollitia iste quis sed iure tempora dolore incidunt praesentium aspernatur! Praesentium impedit aperiam, commodi magnam accusamus nobis. Quia, velit sunt asperiores?</p>
                <ul class="arrow-list has-border">
                    <li>Praesentium voluptatum deleniti atque dolores </li>
                    <li>Corrupti quos et quas molestias excepturi</li>
                    <li>Occaecati cupiditate non provident similique</li>
                    <li>Nam libero tempore, cum soluta nobis eligendi</li>
                    <li>Iditate non provident, similique sunt in culpa</li>
                    <li>Officia deserunt mollitia animi distinctio laborum</li>
                    <li>Dolorum fuga harum quidem rerum facilis</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2 class="section-title">Testimonials</h2>
                <ul class="testimonial-list">
                    <!-- <li>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis</p>
                            <cite>Anthony Rubbens</cite>
                        </blockquote>
                    </li> -->
                    <li>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis</p>
                            <cite>Anthony Rubbens</cite>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis</p>
                            <cite>Anthony Rubbens</cite>
                        </blockquote>
                    </li>
                </ul>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<!-- .fullwidth-block -->
<div class="fullwidth-block" data-bg-color="#edf2f4">
    <div class="container">
        <h2 class="section-title">Our team</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="team">
                    <img src="{% static 'images/person-1.jpg' %}" alt="" class="team-image">
                    <h3 class="team-name">Trần Dương Huy</h3>
                    <p>Praesentium deleniti atque corrupti quos dolores molestias excepturi.</p>
                    <div class="social-links">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team">
                    <img src="{% static 'images/person-2.jpg' %}" alt="" class="team-image">
                    <h3 class="team-name">Nguyễn Hữu Trung Nhân</h3>
                    <p>Praesentium deleniti atque corrupti quos dolores molestias excepturi.</p>
                    <div class="social-links">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team">
                    <img src="{% static 'images/person-3.jpg' %}" alt="" class="team-image">
                    <h3 class="team-name">Phạm Nhật Phương</h3>
                    <p>Praesentium deleniti atque corrupti quos dolores molestias excepturi.</p>
                    <div class="social-links">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<script src="../../static/jsCode/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../static/WebUI.js/navSession.js"></script>
<script src="../../static/jsCode/plugins.js"></script>
<script src="../../static/jsCode/app.js"></script>
{% endblock %}