{% extends "pages/base.html" %} {% load static %}
{% block title%}BiMeta AboutUs{% endblock %} {% block content %} 
{% include 'pages/header.html' %}
<div class="page-head" data-bg-image="{% static 'images/page-head-1.jpg' %}" id="aboutUs">
    <div class="container">
        <!-- <h2 class="page-title">About us</h2>
        <small>Let's take a review of our wonderful team members and our purpose! </small> -->
    </div>
</div>
<div class="wrapper_about">
    <div class="typing-demo_about">
        Want to know about us? Here are our information ^__^
    </div>
  </div>

<div class="fullwidth-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section-title">Why choose us?</h2>
                <ol class="circle">
                    <li>
                        <h3>Bioinformatics</h3>
                        <p>Bioinformatics research is considered an area that includes large,  expanding,  and complexbiological data sets. The biological data is increasingly large, and often unlabeled, making it impossible to use supervised learning methods.</p>
                    </li>
                    <li>
                        <h3>Scalable clustering tool</h3>
                        <p>An alternativeapproach to the bioinformatics problem is to build a scalable clustering tool that can work with very large datasets based on BiMeta.</p>
                    </li>
                    <li>
                        <h3>Cusamus dignissimos ducimus</h3>
                        <p>Molestias excepturi sint occaecati cupiditate provident similique sunt culpa. omnis iste natus voluptatem.</p>
                    </li>
                </ol>
            </div>
            <div class="col-md-6">
                <h2 class="section-title">Usefull links</h2>
                <p>Here are some relative links of our projects</p>
                <ul class="arrow-list has-border">
                    <li><a href="https://almob.biomedcentral.com/articles/10.1186/s13015-014-0030-4">A two phase binning algorithms using l-mer frequency on groups of non-overlapping reads</a></li>
                    <li><a href="https://www.sciencedirect.com/book/9780124104716/bioinformatics-for-beginners">Bioinformatics for Beginners</a></li>
                    <li><a href="https://academic.oup.com/bioinformatics/article/28/18/i356/248051">MetaCluster 5.0: a two-round binning approach for metagenomic data forlow-abundance species in a noisy sample</a></li>
                    <li><a href="https://academic.oup.com/gigascience/article/8/2/giy165/5266304">Libra: scalable k-mer–based tool for massive all-vs-all metagenomecomparisons</a></li>
                    <li><a href="https://pubmed.ncbi.nlm.nih.gov/21385052/">A novel abundance-based algorithm for binning metage-nomic sequences using l-tuples</a></li>
                </ul>
            </div>
            <!-- <div class="col-md-4">
                <h2 class="section-title">Testimonials</h2>
                <ul class="testimonial-list">
                    <li>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis</p>
                            <cite>Anthony Rubbens</cite>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis</p>
                            <cite>Anthony Rubbens</cite>
                        </blockquote>
                    </li>
                </ul>
            </div> -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<!-- .fullwidth-block -->
<div class="fullwidth-block" data-bg-color="#edf2f4">
    <div class="container">
        <h2 class="section-title">Our team</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="team">
                    <img src="{% static 'images/DHuy.png' %}" alt="" class="team-image">
                    <h3 class="team-name">Trần Dương Huy</h3>
                    <p>Team Leader</p>
                    <div class="social-links">
                        <a href="https://www.facebook.com/d.huy237"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/dhuy237"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/dhuy723/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team">
                    <img src="{% static 'images/TNhan.jpg' %}" alt="" class="team-image">
                    <h3 class="team-name">Nguyễn Hữu Trung Nhân</h3>
                    <p>Team Member</p>
                    <div class="social-links">
                        <a href="https://www.facebook.com/profile.php?id=100006611747839"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/TrungNhanNguyenHuu"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/trungnhan-nguyenhuu-bkit/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team">
                    <img src="{% static 'images/NPhuong.jpg' %}" alt="" class="team-image">
                    <h3 class="team-name">Phạm Nhật Phương</h3>
                    <p>Team Member</p>
                    <div class="social-links">
                        <a href="https://www.facebook.com/nhatphuong.pham.1/"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/huyenma91"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/phuongpham2101/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<script src="../../static/jsCode/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../static/WebUI.js/navSession.js"></script>
<script src="../../static/jsCode/plugins.js"></script>
<script src="../../static/jsCode/app.js"></script>
{% endblock %}