{% extends "pages/base.html" %} {% load static %}{% block title%}BiMeta Homepage{% endblock %} {% block content %}
{% include 'pages/header.html' %}

<div class="site-content">
    <div id="niceBG">
    </div>
    <div class="hero">
        <ul class="slides">
            <li data-bg-image="{% static 'images/slider-1.jpg' %}">
                <div class="container">
                    <div class="slide-content">
                        <div >
                            <h2 class="slide-title">BIMETA-CLUSTERING</h2>
                            <p>The best clustering system for large dataset of genomic</p>
                        </div>
                       
                        <a id="link1" href="{% url 'login' %}" class="redirectSystemButton button" style="font-weight: bold;">Login</a>
                    </div>
                </div>
            </li>
            <li data-bg-image="{% static 'images/slider-2.jpg' %}">
                <div class="container">
                    <div class="slide-content">
                        <div >
                            <h2 class="slide-title">BIMETA-CLUSTERING</h2>
                            <p>The best clustering system for large dataset of genomic</p>
                        </div>
                        <a id="link2" href="{% url 'login' %}" class="redirectSystemButton button" style="font-weight: bold;">Login</a>
                    </div>
                </div>
            </li>
            <li data-bg-image="{% static 'images/slider-3.jpg' %}">
                <div class="container">
                    <div class="slide-content">
                        <div >
                            <h2 class="slide-title">BIMETA-CLUSTERING</h2>
                            <p>The best clustering system for large dataset of genomic</p>
                        </div>
                        <a id="link3" href="{% url 'login' %}" class="redirectSystemButton button" style="font-weight: bold;">Login</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <main class="main-content" style="background-color: #e7edf1;">
        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="feature" style="background-color: white;">
                            <img src="static/images/icon-research-small.png" alt="" class="feature-image">
                            <h2 class="feature-title">BiMeta</h2>
                            <p> An unsupervised algorithm, called BiMeta, for binning of reads from different species in a metagenomic dataset...</p>
                            <a href="https://almob.biomedcentral.com/articles/10.1186/s13015-014-0030-4" class="button">Learn more</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="feature" style="background-color: white;">
                            <img src="static/images/icon-energy-small.png" alt="" class="feature-image">
                            <h2 class="feature-title">Hadoop</h2>
                            <p>The Apache Hadoop software library is a framework that allows for the distributed processing of large data sets...</p>
                            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwj4icCz0urxAhUUw4sBHe-0BXUQFjAAegQIBxAD&url=http%3A%2F%2Fgrut-computing.com%2FHadoopBook.pdf&usg=AOvVaw0Ix82ls7HS37apdO5_tPD3" class="button">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
<div class="page-head" data-bg-image="{% static 'images/corona.jpg' %}" style="position: relative;background-position-y: center;z-index: 1;" id="system">
    <div class="container" style="background-color: rgba(120, 120, 120,0.5);">
        <h2 class="page-title">Corona-virus Impact</h2>
        <small>The below coronavirus statistic show the current case of having covid of VIETNAM. </small>
    </div>
</div>

<!-- <div>
    <select id="continent" class="form-select" aria-label="Default select example">
        <option selected class="option_continent" value="Asia">Asia</option>
        <option class="option_continent" value="Africa">Africa</option>
        <option class="option_continent" value="Europe">Europe</option>
        <option class="option_continent" value="North America">North America</option>
        <option class="option_continent" value="South America">South America</option>
        <option class="option_continent" value="Australia">Australia</option>
    </select>
    <div class="lollipopdiv"></div>
</div> -->

<div class="lollipopdiv" style="position: relative;"></div>
<div class="fullwidth-block" data-bg-color="#edf2f4" style="position: relative;">
    <div class="container">
        <div class="subscribe-form">
            <h2>Join our newsletter</h2>
            <form action="#">
                <input type="text" placeholder="Enter your email">
                <input type="submit" value="Subscribe">
            </form>
        </div>
    </div>
</div>

</main>
<!-- .main-content -->

<footer class="site-footer" style="position: relative;background-color: white;" >
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="widget">
                    <h3 class="widget-title">Our address</h3>
                    <strong>NPH Team</strong>
                    <address>268 Ly Thuong Kiet Street, Ward 14, District 10, HCM City</address>
                    <a href="tel:+84 917565059">+84 917565059</a> <br>
                    <a href="mailto:NPH@gmail.com">NPH@gmail.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget">
                    <h3 class="widget-title">Research summary</h3>
                    <ul class="arrow-list">
                        <li><a href="#">Hadoop research</a></li>
                        <li><a href="#">BiMeta research</a></li>
                        <li><a href="#">MetaProb research</a></li>
                        <li><a href="#">Bioinformatic research</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget">
                    <h3 class="widget-title">Social media</h3>
                    <p>Here is the social media of our team.</p>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
    <!-- <a href="/download/outputFile" >AAAA </a> -->
</footer>
</div>
<script src="../../static/jsCode/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../static/WebUI.js/navSession.js"></script>

<script src="../../static/jsCode/plugins.js"></script>
<script src="../../static/jsCode/app.js"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script type="text/javascript" src="../../static/WebUI.js/continent.js"></script>
<script type="text/javascript" src="../../static/WebUI.js/home.js"></script>
<script type="text/javascript" src="../../static/WebUI.js/lollipopChart.js"></script>

{% endblock %}