{% extends "pages/base.html" %} {% load static %}
{% block title%}BiMeta System{% endblock %} {% block content %} 
{% include 'pages/header.html' %}
<div class="page-head" data-bg-image="{% static 'images/page-head-2.jpg' %}" id="system">
    <div class="container">
        <!-- <h2 class="page-title">System</h2>
        <small>The left column below is the place for dataset uploading and running Hadoop system and the right column for parameters explanation. </small> -->
    </div>
</div>

<div id="display_files" style="font-family: Helvetica, sans-serif;">
    <form>
        <p id="nodata" >No data file in system's folder</p>
        <table id="neatdata" cellpadding="0" cellspacing="0" > 
        </table>
    </form>
</div>

<div class="container-fluid" style="height: 100%; padding-right:0">
    <div class="row">
        <form method="post" enctype="multipart/form-data" data-bg-color="#edf2f4" style="padding: 2em;" class="col-md-6 col-sm-12">
            <div class="body_section2">
                <div class="area2">
                    <p class="body_section2_title bold">Input dataset file</p>
                </div>
                <div class="area2 row">
                    {% csrf_token %} {{ form.as_p }}
                    <div class="upload-file">
                        <label class="custom-file-upload">
                            <i class="fa fa-upload"></i><input type="file" name="file" id="file">
                            Upload New File
                        </label>
                        <button id="myButton" class="show-file-upload" type="button"><i class="fa-2x fa fa-file"></i></button>
                    </div>
                  
                    <span id="file-selected"></span>
    
    
                    <div id="progress-div" style="display:none">
                        <div class="progress">
                            <div class="progress-bar" id="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                    </div>
                    <p id="progress-text"></p>
                    <div class="button_area" id="stop-div" style="display:none">
                        <button class="stop_button bold" type="button" id="stop_button">Stop</button>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="body_section3">
                <div class="area3">
                    <p class="body_section3_title bold">Parameters</p>
                </div>
                <div class="area3_1 row">
                    <div class="col" style="display: flex;">
                        <p class="body_section3_title bold">K-mer size:</p>
                        <button id="button_kmer" class="show-info" type="button"><i class="fa fa-info"></i></button>
                    </div>
                    <div class="col" style="display: grid;">
                        <input class="kmer" type="number" min="1" id="kmer" value="4" placeholder="default: 4">
                    </div>
                    
                </div>
                <div class="area3_1 row">
                    <div class="col" style="display: flex;">
                        <p class="body_section3_title bold">Length of Q-mer:</p>
                        <button id="button_lofqmer" class="show-info" type="button"><i class="fa fa-info"></i></button>
                    </div>
                    <div class="col" style="display: grid;">
                        <input class="lofqmer" type="number" min="1" id="lofqmer" value="30" placeholder="default: 30">
                    </div>
                   
                </div>
                <div class="area3_1 row">
                    <div class="col" style="display: flex;">
                        <p class="body_section3_title bold">Number of share reads:</p>
                    <button id="button_sharereads" class="show-info" type="button"><i class="fa fa-info"></i></button>
                    </div>
                    <div class="col" style="display: grid;">
                        <input class="sharereads" type="number" min="1" id="sharereads" value="45" placeholder="default: 45">
                    </div>
                   
                </div>
                <div class="area3_1 row">
                    <div class="col" style="display: flex;">
                        <p class="body_section3_title bold" >Maximum component size:</p>
                        <button id="button_maxcomp" class="show-info" type="button"><i class="fa fa-info"></i></button> 
                    </div>
                    <div class="col" style="display: grid;">
                        <input class="maxcomp" type="number" min="1" id="maxcomp" value="400" placeholder="default: 400">
                    </div>
                    
                </div>
            </div>
            <br><br>
            <div class="body_section4">
                <div class="area4">
                    <p class="body_section3_title bold">Output</p>
                </div>
                <div class="area4_1 row">
                    <p class="body_section4_title col bold" min="1">Number of cluster k:</p>
                    <div class="col" style="display: flex;">
                        <select id="kOption" onchange="check()">
                            <option>Yes</option>
                            <option selected>No</option>
                        </select>
                        <input id="kNumber" class="kNumber" type="number" min="1" disabled >
                    </div>
                    
                </div>
                <div class="area4_1 row">
                    <p class="body_section4_title col bold" min="1">Store output information:</p>
                    <div class="col">
                        <select id="historyStoreOption">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                   
                </div>
            </div>
            <br><br>
            <div class="button_area">
                <button class="submit_button bold" id="startButton" type="button" onclick="getValue(event)"><span id="labelStart">Start</span><div class="loader" id="loader" style="display: none;"></div></button>
                <button class="clear_button bold" id="clearButton" type="button" onclick="clearValue()">Clear</button>
            </div>
            <br>
            
            <div style="overflow: auto">
                <div id="streamDivLog">
                </div>
            </div>
            
        </form>
    
        <div class="col-md-6 col-sm-12" style="padding-right:0;">
            <div style="height: 100%">
                <div class="row" style="height: 20%;">
                    <div  class="box col-md-6 col-sm-6" style="height: 100%;font-family: Helvetica, sans-serif" >
                        <div id="display_output" class="outputdiv">
                            <span class="title_box" style="display: block ruby">
                                <h2>Output Files</h2>
                                <button id="popupOutput" class="zoom_button" type="button" onclick=""><i class="fa fa-search"></i></button>
                            </span>
                          
                            <div id="outputData">
                                <div id="output_note">
                                    <p>This is where you can see and download the cluster files which includes reads of each cluster group species.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                   
                    <div class="box col-md-6 col-sm-6" style="height: 100%;font-family: Helvetica, sans-serif" >
                        <div id="display_overview" class="overviewdiv">
                            <span class="title_box" style="display: block ruby">
                                <h2>Overview Information</h2>
                                <button id="popupOverview" class="zoom_button" type="button" onclick=""><i class="fa fa-search"></i></button>
                            </span>
                           
                            <div id="overview">
                                <div id="overview_note">
                                    <p>This is where you can see the overview information of the input dataset which included file name, F-measure, Recall, Precision, Date Start, Time,... </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>  
                </div>
                <div  class="row box" style="height: 50%;font-family: Helvetica, sans-serif">
                    <div>
                    <div id="display_graph">
                        <div class="title_box_graph" style="display: block ruby;height:15%;">
                            <h2>Node Graph</h2>
                            <button id="popupGraph" class="zoom_button" type="button" onclick=""><i class="fa fa-search"></i></button>
                        </div>
                        <div id="graph_note">
                            <div class="row">
                                <div class="col-md-6">
                                    <img id="nodeGraphExample" src="{% static 'images/node_graph_example.png' %}" style="width: 80%;">
                                </div>
                                <div class="col-md-6">
                                    <p>This is where you can get the overview graph of you dataset files. The graph contains the nodes(reads) and the edges (overlap atribute) between two nodes.</p>
                                </div>
                            </div>
                         
                        </div>
                       
                        <div style="height: 85%;object-fit: contain;">
                            <img id="nodeGraph" style="height: 100%;margin-left: auto;margin-right: auto;display: block;">
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row" style="height: 30%;">
                    
                    <div  class="box col-md-6 col-sm-6" style="font-family: Helvetica, sans-serif">
                        <div id="display_bar">
                            <span style="display: block ruby; text-align: center;">
                                <h2 class="title_box">Reads of Species</h2>
                                <button id="popupBar" class="zoom_button" type="button" onclick=""><i class="fa fa-search"></i></button>
                            </span>
                          
                            <div id="bardiv" class="bardiv">
                                <div id="bar_note">
                                    <p>This is where you can get the overview graph of you dataset files. The graph contains the nodes(reads) and the edges (overlap atribute) between two nodes.</p>
                                </div>
                            </div>
                        </div>            
                    </div>

                    <div class="box col-md-6 col-sm-6" style="font-family: Helvetica, sans-serif">
                        <div id="display_pie">
                            <span style="display: block ruby; text-align: center;">
                                <h2 class="title_box">Species Ratio</h2>
                                <button id="popupPie" class="zoom_button" type="button" onclick=""><i class="fa fa-search"></i></button>
                            </span>
                            <div id="piediv" class="piediv">
                                <div id="pie_note">
                                    <p>This is where you can get the overview graph of you dataset files. The graph contains the nodes(reads) and the edges (overlap atribute) between two nodes.</p>
                                </div>
                            </div>    
                        </div>
                          
                    </div>
                </div>
            </div>
           
        </div>
        <!-- <div id="chart" style="display: none;">
        </div> -->
        <div>
            <div id="info_kmer" class="boxed-icon">
                <img src="{% static 'images/kmer.png' %}" style="width: 50px;height: 50px;" alt="" class="icon">
                <h2 style="color: #8e9ca5;">K-mer size</h2>
                <p style="color: #8e9ca5;">Using for <b>extracting compositional features</b> of the read groups.<br> 
                    Instead of extracting the features from all reads of each group, we compute <br>
                    k-mer frequency distribution</b> of their <b>subgroups</b> which only consists<br>
                    of <b>non-overlapping reads</b>. k-mers are composed of nucleotides (i.e. A, T, G, and C).<br> 
                    Usually, the term k-mer refers to all of a sequence's subsequences of length <b>k</b>,<br>
                    such that the sequence AGAT would have four monomers (A, G, A, and T).
                </p>
            </div>

            <div id="info_lofqmer" class="boxed-icon">
                <img src="{% static 'images/qmer.png' %}" style="width: 60px;height: 60px;" alt="" class="icon">
                <h2 style="color: #8e9ca5;">Length of Q-mer</h2>
                <p style="color: #8e9ca5;">One of two parameters for creating overlap graph. Adjust the length number of shared q-mers.<br> 
                    Most of q-mer repeats in a metagenomic dataset are caused by overlaps of reads.<br>
                    Thus, there is a great probability that the reads sharing q-mers with each other<br> 
                    (with a sufficient value of q) are overlapping reads.</p>
            </div>

            <div id="info_sharereads" class="boxed-icon">
                <img src="{% static 'images/shareread.png' %}" style="width: 60px;height: 60px;" alt="" class="icon">
                <h2 style="color: #8e9ca5;">Number of shared reads</h2>
                <p style="color: #8e9ca5;">One of two parameters for creating overlap graph. Adjust the number of shared reads<br>
                    between reads to define overlap reads.</p>
            </div>

            <div id="info_maxcomp" class="boxed-icon">
                <img src="{% static 'images/maxcom.png' %}" style="width: 50px;height: 50px;" alt="" class="icon">
                <h2 style="color: #8e9ca5;">Maximum component size</h2>
                <p style="color: #8e9ca5;">Define the number of overlaped nodes in a group which allow a balance system.</p>
            </div>
        </div>
</div>

</div>
<script src="../../static/jsCode/jquery-1.11.1.min.js"></script>
<script src="../../static/jsCode/plugins.js"></script>
<script src="../../static/jsCode/app.js"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/dataviz.js"></script>
<script type="text/javascript" src="../../static/WebUI.js/overviewSystem.js"></script>
<script type="text/javascript" src="../../static/WebUI.js/barChart.js"></script>
<script type="text/javascript" src="../../static/WebUI.js/pieChart.js"></script>
<script type="text/javascript" src="../../static/WebUI.js/history.js"></script>
<script type="text/javascript" src="../../static/WebUI.js/system.js"></script>
<script type="text/javascript" src="../../static/WebUI.js/regex.js"></script>
<script type="text/javascript" src="../../static/WebUI.js/navSession.js"></script>
<!-- <script src="https://cdn.socket.io/4.0.1/socket.io.min.js" integrity="sha384-LzhRnpGmQP+lOvWruF/lgkcqD+WDVt9fU3H4BWmwP5u5LTmkUGafMcpZKNObVMLU" crossorigin="anonymous"></script> -->
<script>
</script>
<script>

    const ref = document.getElementById('display_files');
    tippy('#myButton', {
    content: ref,
    trigger: 'click',
    interactive: 'true',
});

    const info_kmer = document.getElementById('info_kmer');
    tippy('#button_kmer', {
    content: info_kmer,
    trigger: 'click',
});
    const info_lofqmer = document.getElementById('info_lofqmer');
    tippy('#button_lofqmer', {
    content: info_lofqmer,
    trigger: 'click',
});
    const info_sharereads = document.getElementById('info_sharereads');
    tippy('#button_sharereads', {
    content: info_sharereads,
    trigger: 'click',
});
    const info_maxcomp = document.getElementById('info_maxcomp');
    tippy('#button_maxcomp', {
    content: info_maxcomp,
    trigger: 'click',
});
</script>

{% endblock %}