.body_background {
    background-color: white;
}

.body_title {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
}

.body_section2 {
    position: initial;
    background-color: white;
    border-radius: 2em;
    padding: 1em;
    display: grid;
}

.body_section2_title {
    /* color: #73a536; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
}

.area2 {
    padding: 0.2em;
}

.body_section3 {
    position: initial;
    background-color: white;
    border-radius: 2em;
    padding: 1em;
    display: grid;
}

.body_section3_title {
    /* color: #73a536; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.area3 {
    text-align: center;
    padding: 0.2em;
}

.area3_1 {
    padding: 0.2em;
}

.body_section4 {
    position: initial;
    background-color: white;
    border-radius: 2em;
    padding: 1em;
    display: grid;
}

.body_section4_title {
    /* color: #73a536; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.area4 {
    text-align: center;
    padding: 0.2em;
}

.area4_1 {
    padding: 0.2em;
}

.bold {
    font-weight: bold;
}

.submit_button {
    background-color: white;
    border-radius: 2em;
    /* color: #73a536; */
    padding: 1em;
    width: 200px;
}

.stop_button {
    background-color: red;
    border-radius: 2em;
    color: white;
    padding: 0.5em;
    width: 200px;
}

.button_area {
    text-align: center;
}

input {
    text-align: center;
    border-radius: 2em;
}

.custom-file-upload {
    font-size: 25px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 30%);
    color: #8e9ca5;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    width: 100%;
}
.show-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    /* border-radius: 30px; */
    box-shadow: 0 1px 1px rgb(0 0 0 / 30%);
    color: #8e9ca5;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    /* width: 20%; */
}

.custom-file-upload:hover {
    background-color: #69acc7;
    box-shadow: none;
    color: white;
}

.upload-file{
    display: inherit;
}
input[type="file"] {
    display: none;
}

select {
    text-align: center;
    border-radius: 2em;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* table, tr, td{
    border: 1px solid black;
} */
td{
    padding: 2px;
}

#neatdata{
    font-size: 20px;
    background-color: transparent;
}
#neatdata tbody:first-child{
    text-align: center;
}
.tippy-box{
    background-color: #69acc7;
    color: black;
    border-radius: 20px;
    padding: 10px;
    max-width: none !important;
}

.tippy-content{
    width: max-content;
}
.showFileButton{
    /* background: #e7edf1;
    box-shadow: inset 0 0 100px #69acc7; */
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 30%);
    color: #8e9ca5;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    
}


.show-info {
    display:block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
